<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="dataBaseName" value="bd_local"/>
  </appSettings>
  <connectionStrings>
    <add name="bd_local" connectionString="Data Source=maquis;Initial Catalog=BugTracker_78576;User ID=avisuales1;Password=Pav1#2020Maquis;"/>
  </connectionStrings>
</configuration>
